@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  /* backround-images  */
  --home-bg: url("/images/background/background.jpg");
  --about-bg: url("/images/background/black-concrete-wall.jpg");
  --services-bg: url("/images/background/black-concrete-wall.jpg");
  --testmonial-bg: url("/images/background/black-concrete-wall.jpg");
  --wordpress-bg: url("/images/background/BackgroundMountain.jpg");

  /* gallery images  */
  --galleryimage1: url("/public//images/gallery/gallery1.jpg");
  --galleryimage2: url("/public//images/gallery/gallery2.jpg");
  --galleryimage3: url("/public//images/gallery/gallery3.jpg");
  --galleryimage4: url("/public//images/gallery/gallery4.jpeg");
  --galleryimage5: url("/public//images/gallery/gallery5.png");
  --galleryimage6: url("/public//images/gallery/gallery6.jpg");
  --galleryimage7: url("/public//images/gallery/gallery7.jpg");
  --galleryimage8: url("/public//images/gallery/gallery8.jpg");
  --galleryimage9: url("/public//images/gallery/gallery9.jpg");
  --galleryimage10: url("/public//images/gallery/gallery10.jpg");
  --galleryimage11: url("/public//images/gallery/gallery11.jpg");
  --galleryimage12: url("/public//images/gallery/gallery12.png");

  /* navbar  */
  --navbar-bg-color: rgba(85, 78, 68, 0.76);
  --navbar-logo-textcolor: white;
  --navbar-logo-textchar: rgb(9, 255, 181);

  /* home  */
  --home-primary-color: white;
  --home-secondary-color: rgb(9, 255, 181);
  --home-body-color: rgb(221, 221, 221);

  /* button  */
  --button-bg-color1: rgb(0, 146, 97);
  --button-bg-color2: rgb(0, 104, 202);
  --button-text-color: white;
  --button-border-color: white;

  /* HomeCard   */
  --homecard-even-border-color: rgb(0, 146, 97);
  --homecard-odd-border-color: white;
  --homecard-even-bg-color: rgb(0, 1, 37);
  --homecard-odd-bg-color: rgb(0, 146, 97);
  --homecard-odd-icon-color: white;
  --homecard-even-icon-color: rgb(0, 146, 97);
  --homecard-odd-text-color: white;
  --homecard-even-text-color: rgb(0, 146, 97);

  /* features  */
  --features-line-bg-color: rgb(9, 255, 181);
  --featurescard-icon-color: rgb(0, 146, 97);
  --featurescard-text-color: rgb(46, 46, 46);
  --featurescard-headingcolor: black;
  --featurescard-headingcolor-main: rgb(0, 146, 97);

  /* About  */
  --about-heading-Color: white;
  --about-navigation-color: white;
  --about-navigation-color-active: rgb(9, 255, 181);
  --aboutprogrees-border-color: rgb(158, 158, 158);
  --aboutprogress-text-color: white;
  --aboutprogress-color1: rgb(155, 53, 155);
  --aboutprogress-color2: rgb(49, 87, 255);
  --aboutprogress-color3: rgb(199, 71, 71);
  --aboutprogress-color4: rgb(24, 194, 109);
  --aboutprogress-color5: rgb(199, 100, 19);

  /* Work  */
  --work-text-color: black;
  --work-bg-color: rgb(240, 240, 240);
  --work-border-color: rgb(194, 194, 194);
  --work-border-color-active: rgb(21, 177, 143);
  --work-textnav-color: black;
  --work-textnav-color-active: rgb(21, 177, 143);
  --worknavbutton-textcolor: white;
  --worknav-button-icon-color: white;
  --worknav-button-bg-color: rgb(21, 177, 143);

  /* Services  */
  --services-text-color: black;
  --service-nav-button-bg-color-active: rgb(27, 173, 125);
  --service-nav-button-bg-color: rgb(218, 218, 218);
  --service-nav-button-border-color-active: rgb(27, 173, 125);
  --service-nav-link-border-color: rgb(184, 184, 184);
  --service-text-link-button-color: black;
  --service-text-link-button-color-active: white;

  /* Services Secondary  */
  --servicessecondary-text-heading-color: rgb(0, 255, 191);
  --servicessecondary-text-color: rgb(216, 216, 216);
  --servicessecondary-button-bg-color: rgb(4, 172, 158);
  --servicessecondary-button-border-color: white;
  --servicessecondary-button-text-color: white;


  /* News */
  --news-intro-text-color: black;
  --newscard-tag-bg-color-active: rgb(0, 151, 118);
  --newscard-tag-bg-color: rgb(0, 61, 0);
  --newscard-tag-text-color: white;
  --newscard-bottom-text-heading-color-active: rgb(0, 151, 118);
  --newscard-bottom-text-heading-color: rgb(71, 71, 71);
  --newscard-bottom-text-color: rgb(112, 112, 112);
  --newscard-bottom-bg-color: rgb(228, 228, 228);

  /* News secondry card  */
  --newssecondarycard-border-color-even: rgb(2, 185, 130);
  --newssecondarycard-border-color-odd: rgba(10, 10, 10, 0.959);
  --newssecondarycard-bg-color-even: rgba(10, 10, 10, 0.959);
  --newssecondarycard-bg-color-odd: rgb(2, 185, 130);
  --newssecondarycard-border-color-outerdiv-even: rgb(2, 185, 130);
  --newssecondarycard-border-color-outerdiv-odd: rgba(10, 10, 10, 0.959);
  --newssecondarycard-innerdiv-bg-color-even: rgb(2, 185, 130);
  --newssecondarycard-innerdiv-bg-color-odd: rgba(10, 10, 10, 0.959);
  --newssecondarycard-icon-color: white;
  --newssecondarycard-heading-color: white;
  --newssecondarycard-text-color: rgb(0, 99, 49);


  /* Pricing  */
  --pricing-intro-heading-color: black;
  --pricingcard-bg-color: rgb(241, 241, 241);
  --pricingcrad-heading-color: black;
  --pricingcrad-heading-color-active: rgb(25, 167, 124);
  --pricingcard-price-text-color: white;
  --pricingcard-price-bg-color: rgba(0, 11, 17, 0.945);
  --pricingcard-price-bg-color-active: rgb(25, 167, 124);
  --pricingcard-details-text-color: black;
  --pricingcard-button-color: rgba(0, 11, 17, 0.945);
  --pricingcard-button-color-active: rgb(25, 167, 124);
  --pricingcard-button-text-color: white;
  --pricingcard-banner-bg-color: rgb(25, 167, 124);
  --pricingcard-banner-text-color: white;
  --pricingcard-border-color: rgb(196, 196, 196);
  --pricingcard-shadow-color: rgb(138, 138, 138);

  /* Testmonial  */
  --testmonial-intro-heading-color: white;
  --testmonial-quotes-color: rgb(6, 175, 139);
  --testmonial-text-color: rgb(192, 192, 192);
  --testmonial-name-color: rgb(6, 175, 139);
  --testmonial-imageborder-color: rgb(6, 175, 139);
  --testmonial-imageshadow-color: rgb(6, 175, 139);
  --testmonial-buttonback-border-color: rgb(192, 192, 192);
  --testmonial-buttonforwrod-border-color: rgb(6, 175, 139);
  --testmonial-buttonforwordbg-color: rgb(6, 175, 139);
  --testmonial-button-icon-color: white;

  /* Team  */
  --team-introcolor: black;
  --team-name-color: white;
  --team-role-color: rgb(16, 192, 177);
  --team-bg-color: rgba(0, 11, 17, 0.945);
  --team-icon-color: white;
  --team-border-color: rgb(192, 192, 192);

  /* Wordpress  */
  --wordpress-primary-heading-color: rgb(255, 255, 255);
  --wordpress-secondary-heading-color: rgb(22, 211, 164);
  --wordpress-list-text-color: rgb(223, 223, 223);
  --wordpress-list-icon-color: rgb(22, 211, 164);
  --wordpress-button-border-color: white;
  --wordpress-button-bg-color: rgb(22, 211, 164);
  --wordpress-button-textcolor: white;

  /* contact  */
  --contact-intro-heading-color: black;
  --contact-button-bg-color: rgb(11, 197, 151);
  --contact-button-text-color: white;
  --contact-border-color: rgb(199, 199, 199);

  /* Footer  */
  --footer-bg-color: rgba(0, 17, 17, 0.945);
  --footer-heading-color: white;
  --footer-active-color: rgb(11, 197, 151);
  --footer-text-color: rgb(226, 226, 226);
  --footer-date-color: rgb(255, 255, 255);
  --footer-button-color-active: rgb(11, 197, 151);
  --footer-button-border-color-active: rgb(11, 197, 151);
  --footer-button-text-color-active: white;
  --footer-button-border-color: rgb(190, 190, 190);
  --footer-button-text-color: rgb(190, 190, 190);
  --footer-input-bg-color: rgb(6, 27, 44);
  --footer-input-button-text-color: rgb(15, 224, 172);
  --footer-input-button-bg-color: rgb(8, 77, 70);

  /* copy right  */
  --copyright-bg-color: rgba(1, 43, 43, 0.945);
  --copyright-text-color: rgb(226, 226, 226);
  --copyright-text-color-active: rgb(0, 255, 191);

}